.title {
  position: relative;
  display: flex;
  justify-content: center;
  height: 400px;
  width: 600px;
  background-color: #654321;
  z-index: 1;

  .titleLogo {
    position: absolute;
    bottom: 60px;
    height: 600px;
  }

  ul {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0px;
    height: 70px;

    li {
      height: 70px;

      img {
        max-width: 100%;
        height: 70px;
      }

      img:hover {
        box-shadow: -1px -1px 200px 8px #ffd700;
      }
    }
  }
}
