.doge {
  position: absolute;
  height: 15vh;
  bottom: 0vh;
  left: 8vw;
  z-index: 1;
  transition: bottom 0.5s linear;
}

.jump {
  position: absolute;
  height: 15vh;
  bottom: 25vh;
  left: 8vw;
  transition: bottom 1s;
}
