.menuBlock {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  .leaderBlockBtn {
    display: flex;
    justify-content: space-around;
    font-size: 30px;

    li {
      width: 300px;
    }
  }

  table {
    padding-top: 20px;

    td {
      text-align: center;
      padding: 20px;
    }
  }
}
