.game {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  .gameScore {
    position: absolute;
    bottom: 0vh;
    right: 2vw;
    font-size: 2vw;
  }
}
