.finalBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  height: 400px;
  width: 600px;
  background-color: #654321;
  z-index: 1;
  justify-content: space-around;
  align-items: center;

  .finalBtn {
    display: flex;

    li:first-child {
      margin-right: 190px;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 1px 1px 20px 5px #000000;
      }
    }
  }
}
