.finalBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  height: 400px;
  width: 600px;
  background-color: #654321;
  z-index: 1;
  justify-content: space-around;
  align-items: center;

  .finalBtn {
    display: flex;
    justify-content: space-evenly;
    width: 600px;

    li {
      width: 250px;
    }
  }
}
