body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #282c34;

  .doge {
    position: absolute;
    height: 15vh;
    bottom: 0;
    left: 8vw;
  }

  .stars {
    position: absolute;
    top: 12vh;
    right: 0vh;
    height: 15vh;
  }
}
