body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes movement {
  from {
    right: -17vw;
  }
  to {
    right: 100vw;
  }
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
  overflow: hidden;

  .flying {
    position: absolute;
    animation-timing-function: linear;
    // Позже протестировать игру на скорости 2с
    animation-duration: 3s;
    animation-name: movement;
    animation-iteration-count: infinite;
  }
}

p {
  position: absolute;
  bottom: 0vh;
  right: 2vw;
  font-family: "Press Start 2P", cursive;
  font-size: 2vw;
  color: #ffd700;
}

.sound {
  position: absolute;
  cursor: pointer;
  width: 4vw;
  right: 2vw;
  top: 2vw;
}

.sound:hover {
  width: 6vw;
}
