body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes movement {
  from {
    right: -10vw;
  }
  to {
    right: 100vw;
  }
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
  overflow: hidden;

  .flying {
    position: absolute;
    right: -10vw;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-name: movement;
    animation-iteration-count: infinite;
  }

  .stars {
    height: 15vh;
  }

  .platform {
    width: 20vw;
    bottom: 10vh;
  }

  .doge {
    position: absolute;
    height: 15vh;
    bottom: 0vh;
    left: 8vw;
    z-index: 1;
    transition: bottom 0.5s linear;
  }

  .jump {
    position: absolute;
    height: 15vh;
    bottom: 25vh;
    left: 8vw;
    transition: bottom 1s;
  }
}
